@import "./reset.scss";

body{
  background-color: $black;
}
main{
  min-height: 100vh;
}
section{
  max-width: 1200px;
  margin: 0 auto;
  // &:nth-of-type(1){
  //   padding-top: 80px;  //헤더 높이만큼 패딩
  // }
}
// 블랙 (black)           #0C0B0E
// 다크그레이 (darkGrey)  #19171B   
// 그레이 (grey)          #3B383E
// 밝은그레이             #454545
// 화이트 (white)         #FAFAFA
// 라임 (lime)            #E3FF00
.loading{
  padding: 100px;
  color: #fafafa;
  font-size: 52px;
  text-align: center;

}
.logo{
  &::after {
      width: 200px;
      height: 36px;
      display: block;
      content: '';
      background: url('../assets.img/logo.svg') center no-repeat;
      background-size: contain;
  }
}

// 출연
.swiper-horizontal.castSlide{
  .swiper-wrapper{
    position: relative;
    .swiper-slide{
      width: 240px;
      height: 360px;
      border-radius: 20px;
      overflow: hidden;
      background-color: #3B383E;
      p{
        width: 100%;
        height: 32px;
        padding-top: 4px;
        bottom: 0;
        left: 0;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        background-color: #19171B;
      }
    }
  }
}

// 서브페이지 트레일러
.swiper-horizontal.trailerSlide {
  width: 100%;
  .swiper-wrapper{
    .swiper-slide{
      max-width: 1200px;
      max-height: 800px;
      overflow: hidden;
      border-radius: 20px;
      background-color: #19171B;
      // &::after {
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 20%;
      //   top: 80%;
      //   left: 0;
      //   background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
      // }
      div{
        width: 1200px;
        height: 800px;
        iframe{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


// 비주얼
.visual{
  width: 100%;
  max-width: none;
  height: 100vh;
  position: relative;
  z-index: 99;
  .swiper-horizontal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    .swiper-wrapper{
      .swiper-slide{
        max-width: none;
        max-height: none;
        border-radius: 0px;
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 20%;
          top: 80%;
          left: 0;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
        }
      }
    }
  }
}


// 비주얼 작은 슬라이드
.visualSmall{
  position: absolute;
  top: 76%;
  left: 4%;
  width: 1200px;
  height: 160px;
  .swiper{
    overflow: visible;
    .swiper-wrapper{
      .swiper-slide{
        max-width: 240px;
        max-height: 160px;
        background-color: #E3FF00;
        border-radius: 8px;
        overflow: hidden;
        transition: 0.2s;
        &:hover{
          transform: translateY(-10px);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
        }
        .youtubeWrap{
          width: 100%;
          height: 100%;
          &.active{
            width: 1200px;
          }
          .youtube{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}


// 기본 슬라이드 basicSlide
.swiper-horizontal.basic{
  .swiper-wrapper{
    .swiper-slide {
      height: 360px;
      max-width: 240px;
      max-height: 360px;
      text-align: center;
      font-size: 18px;
      background-color: $grey;
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        transition: background-color 0.2s ease;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
      }
      &:hover::after {
        background-color: rgba(0, 0, 0, 0.3);
      }      
    }
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-button-prev{
  height: 100% !important;
  transform: translate(-50%, -50%);
  margin-top: 0 !important;

  transition: background 0.2s ease, box-shadow 0.2s ease;
  // background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
  // box-shadow: -20px 0px 16px rgba(0, 0, 0, 0);

  &::after{ //버튼
    content: '' !important;
    width: 24px;
    height: 120px;
    background: url('../assets.img/prev.svg') center no-repeat;
  }

  &:hover{  //hover시 버튼 사이드 그림자
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    box-shadow: -20px 0px 16px rgba(0, 0, 0, 0.5);
  }
}

.swiper-button-next{
  height: 100% !important;
  transform: translate(50%, -50%);
  margin-top: 0 !important;

  transition: background 0.2s ease, box-shadow 0.2s ease;
  // background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
    // box-shadow: 20px 0px 16px rgba(0, 0, 0, 0);

  &::after{
    content: '' !important;
    width: 24px;
    height: 120px;
    background: url('../assets.img/next.svg') center no-repeat;
  }
  &:hover{
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    box-shadow: 20px 0px 16px rgba(0, 0, 0, 0.5);
  }
}
.swiper-pagination-bullet-active{
  background-color: $lime !important;
}