.basicSlide{
    .titleWrap{
        position: relative;
        .title{
            margin-bottom: 16px;
            color: #fafafa;
            font-size: 24px;
            font-weight: 700;
        }
        .viewMore{
            position: absolute;
            top: 32%;
            right: 0;
        }
    }
}

// 더보기 버튼
.viewMoreBtnWrap{
    button{
        color: #fafafa;
        &:hover{
            text-decoration: underline;
        }
    }
}