.footer{
    width: 100%;
    height: 280px;
    background-color: #19171B;
    text-align: center;
    position: relative;
    .footerWrap{
        padding: 28px 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        flex-direction: column;
        .upperWrap{
            width: 72%;
            display: flex;
            justify-content: space-evenly;
            .leftWrap{
                text-align: start;
                ul{
                    margin-top: 8px;
                    li{
                        padding: 0;
                        margin: 0;
                        color: #454545;
                        &:last-of-type{
                            margin-bottom: 16px;
                        }
                        p{
                            color:inherit;
                            text-align: left;
                        }

                    }
                }
                li{
                    div{
                        ul{
                            justify-content: flex-start;
                        }
                    }
                }
            }
            .rightWrap{
                display: flex;
                justify-content: center;
                flex-direction: column;
                input{
                    &::before{
                        width: inherit;
                        display: block;
                        height: 20px;
                        color: #19171B;
                        content:'매주 새로운 영화 추천을 받아보세요.';
                    }
                }
            }
        }
        .lowerWrap{
            div{
                &:not(:last-of-type){
                    margin-bottom: 16px;
                }
            }
        }
    }
    .copyright{
        width: 100%;
        padding: 8px 0;
        background-color: #0C0B0E;
        color: #454545;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        letter-spacing: 0.2px;
        span{
            color: #E3FF00;
        }
    }
}