.header{
    width: 100%;
    background-color: rgba($color: #0C0B0E, $alpha: 0.7);  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.2s;
    
    &.hide{
        transform: translateY(-100%);
    }

   .inner{
        max-width: 1200px;
        height: 80px;
        padding: 16px 4px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
       .navWrap{
           width: 70%;
           display: flex;
           justify-content: space-between;
           align-items: center;
           nav{
               width: 45%;
               margin-right: 24px;
               text-align: right;
               a{
                   padding: 4px;
                   font-size: 20px;
                   &:not(:last-of-type){
                       margin-right: 24px;
                   }
                   color: #fafafa;
                   font-weight: 700;
               }
           }
           
       }
   }

}