.header{
    width: 100%;
    background-color: rgba($color: #0C0B0E, $alpha: 0.7);  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.2s;
    
    &.hide{
        transform: translateY(-100%);
    }

   .inner{
        max-width: 1200px;
        height: 80px;
        padding: 16px 4px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            cursor: pointer;
            position: relative;
            .forScreenReader{
                font-size: 1px;
                position: absolute;
                top: 0;
                left: -100%;
            }
        }
       .navWrap{
           width: 70%;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           nav{
               width: 45%;
               margin-right: 24px;
               text-align: right;
               .categoryGroup{
                margin-right: 40px;
                display: flex;
                justify-content: flex-end;
                   .categoryCommon{
                       padding: 4px;
                       font-size: 20px;
                       color: #fafafa;
                       font-weight: 700;
                       cursor: pointer;
                       &:not(:last-of-type){
                           margin-right: 24px;
                       }
                   }
               }
           }
           
       }
   }

}

.searchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    .search{
        width: 100%;
        position: relative;
        input{
            width: 100%;
            padding: 12px 32px 12px 40px;
            border-radius: 8px 0 0 8px;
            background-color: #19171B;
            &::placeholder{
                color: #3B383E;
            }
        }
        label{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 8%;
            transform: translate(-50%, -50%);
            background: url('../../public/assets/icons/search_grey.svg') center no-repeat;
            background-size: contain;
        }
        .reset{
            width: 16px;
            height: 16px;
            display: none;
            position: absolute;
            top: 50%;
            right: 8%;
            transform: translate(50%, -50%);
            background: url('../../public/assets/icons/x_circle_lime.svg') center no-repeat;
            background-size: contain;
        }
        &.active{
            input{
                color: #E3FF00;
                border: 1px solid #E3FF00;
            }
            label{
                background-image: url('../../public/assets/icons/search_lime.svg');
            }
            .reset{
                display: block;
            }
        }
        
    }
    .searchBtnWrap{
        .searchBtn{
            padding: 12px;
            color: #3B383E;
            background-color: #19171B;
            border-radius: 0 8px 8px 0;
            white-space: nowrap;
            &.active{
                background-color: #E3FF00;
                color: #19171B;
            }
        }
    }
}