.subWrap{
    .title{
        padding-top: 80px;
        margin-top: 80px;
        color: #fafafa;
        font-size: 32px;
        font-weight: 700;
    }
    .tabWrap{
        margin: 40px 0;
        display: flex;
        flex-wrap: wrap;
    }
}